*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* colori */
.red{
    background-color: red;
}
.black{
    background-color: black;
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}
.white{
    color: white;
}
/* grandezze */
.vh{
    height: 100vh;
}
.vw{
    width: 100vw;
}
.h60px{
    height: 60px;
}
.w120px{
    width: 120px;
}
.w60px{
    width: 60px;
}
.h100-{
    height: calc(100vh - 50PX);
}
.h100{
    height: 100%;
}
.w100{
    width: 100%;
}
.w100-mob{
    width: calc(100vw - 60px);
}
.w100-mob-60{
    width: calc(100vw - 120px);
}
/* altro */
.between{
    height: 100%;
    justify-content:space-between;
    display: flex;
    flex-direction: column;
}
.sidebar{
    background-image: url(../img/sidebar-bg.png);
    background-repeat: no-repeat;
    background-color: rgba(7, 7, 67, 0.929);
    padding: 20px 0px 20px 0px;
}
li{
    list-style-type: none;
    display: flex;
    padding: 3px 0px 3px 0px;
}
ul{
    padding-left: 0;   
}
.margin-0{
    margin: 0 auto;
}
.m-l-10{
    margin-left: 10px;
}
.block{
    display: block;
}
.none{
    display: none;
}
.flex{
    display: flex;
}
.in-block{
    display: inline-block;
}
.paddingleft-10{
    padding-left: 10px;
}
.search-bar, input{
    background-color: rgb(194, 191, 191);
    padding: 0px 10px 0px 10px;
    border-radius: 10px;
    width: 100%;
    border: none;
}
/* desktop */

@media  screen and (min-width: 540px){
    .none{
        display: block;
    }
    .block{
        display: none;
    }
    .w60px{
        width: 120px;
    }
    .w100-mob{
        width: calc(100vw - 120px);
    }
    .w100-mob-60{
    width: calc(100vw - 240px);
}
}
